@font-face {
    font-family: 'Noto Serif SC';		/*字体名称*/
    src: url('../../../../public/fonts/Noto_Serif_SC/NotoSerifSC-Regular.otf') format('truetype');	/*字体路径*/
    font-display: swap;
}
  
@font-face {
    font-family: 'Noto Serif SC Bold';		/*字体名称*/
    src: url('/fonts/Noto_Serif_SC/NotoSerifSC-Bold.otf') format('truetype');
    font-display: swap;
}
body {
    font-family: 'Noto Serif SC Bold','Noto Serif SC';
}
  