@font-face {
  font-family: 'HarmonyOSSansSC';
  src: url("/fonts/Noto_Serif_SC/NotoSerifSC-Regular.otf") format('otf'), url("/fonts/Noto_Serif_SC/NotoSerifSC-Regular.otf") format('otf');
  font-weight: 400;
}
@font-face {
  font-family: 'HarmonyOSSansSC';
  src: url("/fonts/Noto_Serif_SC/NotoSerifSC-Bold.otf") format('otf'), url("/fonts/Noto_Serif_SC/NotoSerifSC-Bold.otf") format('otf');
  font-weight: 700;
}
